---
layout: default
---

<div class="home">
  
  <h1>{{ site.course_name }} <span style="font-size: 20px;color: #0006;">/ {{ site.course_semester }} </span></h1>
  
  {% include announcements.html %}
  <br />
  
  {{ content }}

  <h2>Course Description</h2>
  <p>{{ site.course_description }}</p>
  
  

  <h2>Time and Place</h2>
  <h3>Lectures</h3>
  <p>Lectures start on <strong>{{ site.start_date }}</strong>. {{site.start_description}}</p>
  <table style="border-collapse: collapse; width: 90%;margin-top: 10pt; margin-bottom: 10pt; border: .5px solid black;">
    <tr class="row1" style="background-color: rgb(242, 242, 242);">
      <td><em>Day</em></td>
      <td><em>Time</em></td>
      <td><em>Place</em></td>
    </tr>
    <tr class="row2" style="background-color: white;">
      <td><strong>{{ site.day1 }}</strong></td>
      <td><strong>{{ site.time1 }}</strong></td>
      <td>{{ site.loc1 }}</td>
    </tr>
    <tr class="row3" style="background-color: white;">
      <td><strong>{{ site.day2 }}</strong></td>
      <td><strong>{{ site.time2 }}</strong></td>
      <td>{{ site.loc2 }}</td>
    </tr>
  </table>


  <h3>Tutorials</h3>
  <p>Tutorials sessions start on <strong>{{ site.start_dateTut }}</strong>.</p>
  <table style="border-collapse: collapse; width: 90%;margin-top: 10pt; margin-bottom: 10pt; border: .5px solid black;">
    <tr class="row1" style="background-color: rgb(242, 242, 242);">
      <td><em>Day</em></td>
      <td><em>Time</em></td>
      <td><em>Place</em></td>
    </tr>
    <tr class="row2" style="background-color: white;">
      <td><strong>{{ site.dayTut }}</strong></td>
      <td><strong>{{ site.timeTut }}</strong></td>
      <td>{{ site.locTut }}</td>
    </tr>
  </table>

   <h3>Course Office Hours</h3>
  
   <table style="border-collapse: collapse; width: 90%;margin-top: 10pt; margin-bottom: 10pt; border: .5px solid black;">
    <tr class="row1" style="background-color: rgb(242, 242, 242);">
      <td><em>Day</em></td>
      <td><em>Time</em></td>
    </tr>
    <tr class="row2" style="background-color: white;">
      <td><strong>{{ site.dayOffice }}</strong></td>
      <td><strong>{{ site.timeOffice }}</strong></td>
    </tr>
  </table>
  
  {% if site.data.previous_offering and site.data.previous_offering.offerings and site.data.previous_offering.offerings.size > 0 %}
  <h2>Previous Offerings</h2>
  <ul class="previous-offerings">
    {% for offer in site.data.previous_offering.offerings %}
    <li><a href="{{ offer.url }}">{{offer.title}}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
  
  <br>
  <!-- <div> -->
    <div style="width:95%; float: left">
      <!-- <h2>Instructors</h2> -->
      <!-- <div class="image--cover-container">
        <img src="{{site.data.people.instructor.profile_pic | prepend: site.baseurl }}" class="image--cover">
        <p>{{site.data.people.instructor.name}}</p>
      </div> -->
      
      <div class="profile-pic-gallary" style="width:95%; float: left">
        <h2>Instructor</h2>
        {% for ins in site.data.people.instructors %}
        <div class="image--cover-container">
          <img src="{{ins.profile_pic | prepend: site.baseurl }}" class="image--cover">
          {% if ins.webpage %}
          <p><a href="{{ ins.webpage }}">{{ins.name}}</a></p>
          {% else %}
          <p>{{ins.name}}</p>
          {% endif %}
        </div>
        <p style="margin: 0;">{{ins.title}}</p>
        <p style="margin: 0;">{{ins.affil}}</p>   
        <p style="margin: 0;">{{ins.address}}</p>
        {% endfor %}
      </div>
    </div>
    
    <div style="width:95%; float: left">
      <div class="profile-pic-gallary ">
        <h2>Teaching Assistants</h2>
        {% for ta in site.data.people.teaching_assistants %}
        <div class="image--cover-container" style="width:20%; float: left">
          <img src="{{ta.profile_pic | prepend: site.baseurl }}" class="image--cover">
          {% if ta.webpage %}
          <p><a href="{{ ta.webpage }}">{{ta.name}}</a></p>
          {% else %}
          <p>{{ta.name}}</p>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
  <!-- </div> -->
</div>

<h2>Course Syllabus</h2>

<p>The course consists of three main parts, namely <em>Learning from Data</em>, <em>Classification and Regression</em>, and <em>Introduction to Advanced Topics in ML</em>. The contents taught in each part are listed below:</p>

<p>
<div style="background-color: rgba(244, 233, 233, 0.99); padding: 10px;">
<h3>Part I: Learning from Data</h3>
<ol>
  <li><strong>Concept of Learning and Different Problems in ML</strong></li>

  <li><strong>Clustering</strong></li>
  <ul>
    <li>Problem of Clustering</li>
    <li>K-means Clustering Algorithm</li>
    <li>Notion of Distortion</li>
    <li>Soft K-means Clustering</li>
  </ul>

  <li><strong>Learning Data Distribution</strong></li>
  <ul>
    <li>Statistical View on Data</li>
    <li>Modeling Data Distribution via Parameterized Model</li>
    <li>Maximum Likelihood Learning</li>
    <li>Gaussian Maximum Likelihood</li>
    <li>Gaussian Mixture Model</li>
    <li>Data Generation</li>
  </ul>

  <li><strong>Dimensionality Reduction and Data Representation</strong></li>
  <ul>
    <li>Latent Representation for High Dimensional Data</li>
    <li>Principle Component Analysis (PCA)</li>
    <li>Data Compression and Filtering via PCA</li>
    <li>Introduction to Nonlinear PCA</li>
  </ul>
</ol>
</div>

<div style="background-color: rgba(246, 250, 246, 0.9); padding: 10px;">
<h3>Part II: Classification and Regression</h3>
<ol>
  <li><strong>Linear Regression and Classification</strong></li>
  <ul>
    <li>Notion of Loss in Supervised Settings</li>
    <li>Linear Regression: Optimal Model</li>
    <li>Logistic Regression: Optimal Model</li>
    <li>Gradient Descent Algorithm</li>
  </ul>

  <li><strong>Support Vector Machine</strong></li>
  <ul>
    <li>Classification with Maximum Margin</li>
    <li>Support Vector Classifier (SVC)</li>
    <li>Dimensionality Expansion via Embedding Function</li>
    <li>Support Vector Machine (SVM)</li>
    <li>Various Kernels for SVM</li>
    <li>SVM with Soft Margin</li>
  </ul>

  <li><strong>Neural Networks</strong></li>
  <ul>
    <li>Neural Networks (NNs) as Parameterized Models</li>
    <li>Necessity of Nonlinearity in (NNs)</li>
    <li>Expressing Binary Functions via NNs</li>
    <li>Approximating Analytic Functions via NNs</li>
    <li>Universal Approximation Theorem</li>
  </ul>

  <li><strong>Generalization</strong></li>
  <ul>
    <li>Formulating Generalization Error</li>
    <li>Overfitting and Underfitting</li>
    <li>Bias-Variance Trade-off and Bayes Error Bound</li>
    <li>Regularization and Ensemble Learning</li>
  </ul>

  <li><strong>Convolution</strong></li>
  <ul>
    <li>Convolution as a Linear Operator</li>
    <li>Designing a Parameterized Model via Convolution</li>
    <li>Sample Convolutional NN</li>
  </ul>
</ol>
</div>

<div style="background-color: rgba(221, 236, 239, 0.99); padding: 10px;">
<h3>Part III: Advance Topics in ML</h3>
<ol>
  <li><strong>Introduction to Sequence Processing</strong></li>
  <ul>
    <li>Processing Sequences with Temporal Correlation</li>
    <li>Quick Introduction to RNNs and Transformers</li>
  </ul>

  <li><strong>Introduction to Generative Models</strong></li>
  <ul>
    <li>Learning How to Generate Data</li>
    <li>Implicit and Explicit Generative Models</li>
  </ul>

  <li><strong>Introduction to Reinforcement Learning</strong></li>
  <ul>
    <li>Components and Objectives in Reinforcement Learning (RL)</li>
    <li>Tabular RL versus RL with Function Approximation</li>
  </ul>
</ol>
</div>
</p>



<h2>Course Evaluation</h2>
<p>The learning procedure consists of three components:
  <table style="border-collapse: collapse; width: 90%;margin-top: 10pt; margin-bottom: 10pt;">
    <tr class="row1" style="background-color: rgb(242, 242, 242);">
      <td><em>Component</em></td>
      <td><em>Grade %</em></td>
      <td><em></em></td>
    </tr>
    <tr class="row2" style="background-color: rgb(201, 235, 247);">
      <td><strong>Assignments</strong></td>
      <td><strong>{{site.assgn_mark}}</strong></td>
      <td><em>{{site.assgn_desc}}</em></td>
    </tr>
    <tr class="row3" style="background-color: rgb(217, 244, 217);">
      <td><strong>Exam</strong></td>
      <td><strong>{{site.exam_mark}}</strong></td>
      <td><em>{{site.exam_desc}}</em></td>
    </tr>
    <tr class="row4" style="background-color: rgb(252, 215, 215);">
      <td><strong>Project</strong></td>
      <td><strong>{{site.project_mark}}</strong></td>
      <td><em>{{site.project_desc}}</em></td>
    </tr>
  </table>
  Let's get through them a bit in detail.</p>
  
  <h2>Assignment</h2>
  <p>{{site.assgn_txt}}</p>
  
  <h2>Exam</h2>
  <p>{{site.exam_txt}}</p>
  
  <h2>Course Project</h2>
  <p>{{site.project_txt}}</p>
  